*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    transition: backroung-image .7s;
}
.container{
    max-width: 1000px;
    margin: auto;
}
.images{
    background: rgba(57, 56, 56, 0.45);
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding: 40px;
}
.galleryimage{
    width: 300px;
    cursor: pointer;
    transition: .7s;
}
.galleryimage:hover, .active{
    transform: scale(1.10)
    
}
.selectedimage{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}