*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    display: flex;
}

.sidebar{
    width: 0;
    height: 900px;
    background-color: rgb(41, 39, 39);
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.burger-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

nav{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    padding: 30px;
}

li{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: gray;
    font-size: 30px;
}

.close-btn{
    padding: 8px 20px;
    background-color: red;
    color: aliceblue;
    border: none;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.content{
    padding: 60px;
}

h1{
    margin-bottom: 15px;
}

.content.active{
    margin-left: 250px;
}

@media (max-width: 768px){
    .sidebar{
        width: 250px;
    }

    .content.active {
        margin-left: 0;
    }

    .close-btn {
        display: block;
    }
  }